html , body{
    scroll-behavior: smooth;
    height: 100vh;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
   
}

#nav-items li , #nav-btn button{
    display: flex;
    justify-content: center;
    align-items: center;
}

#btnAddPost {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 5px;
}

#btnAddPost:hover {
    background-color: #7cf024;
    transform: scale(1.05);
    border-radius: 20px;
}	

.circular-progress {
    animation: rotate 2s linear infinite;
}

.progress-ring {
    stroke-dasharray: 125.6;
    stroke-dashoffset: 125.6;
    animation: progress 1.5s ease-in-out infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes progress {
    0% {
        stroke-dashoffset: 125.6;
    }

    50% {
        stroke-dashoffset: 62.8;
    }

    100% {
        stroke-dashoffset: 125.6;
    }
 }

 .card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    transition: all 0.3s ease;
 }
    .card:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transform: translateY(-15px);
        scale: 0.9;
        cursor: pointer;
        background-color: aqua;
    }

.modal-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-shadow: 5px 5px 5px red;
}

#postDetailsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#scrollToTopBtn {
    background-color: #007bff;
    /* Bootstrap primary color */
    border: none;
    opacity: 0.7;
    /* Make it slightly transparent */
    transition: opacity 0.3s ease;
    /* Add a smooth transition for opacity */
}

#scrollToTopBtn:hover {
    opacity: 1;
 }


 .left-sidebar {
     left: 0;
     width: 200px;
     overflow-y: auto;
     padding-bottom: 20px;
     transition: all 0.3s ease;
 }
    
 .container {
     margin-left: 100px;
 }
    
 .tutorial-step {
     margin-bottom: 15px;
 }
    
 .tutorial-step img {
     max-width: 100%;
     height: auto;
     border: 1px solid #ddd;
     /* Optional: Add a border to the images */
     border-radius: 4px;
     /* Optional: Add a border radius to the images */
 }
    
 .tutorial-step p {
     font-size: 0.9em;
     color: #555; }

@media (max-width: 768px) {
    .left-sidebar {
       
        display: none;
    }
    
   
    
}


#left-sidebar.collapsed {
    transform: translateX(-250px);
}

#sidebarContent {
    overflow: hidden;
}

.container {
    transition: margin-left 0.3s ease-in-out;
}

.container.sidebar-open {
    margin-left: 250px;
 }